[mysqld]
character-set-server=utf8mb4

disable-log-bin
max_connections=1000  # <- connection の limit を更新
innodb_buffer_pool_size = 1500MB # ディスクイメージをメモリ上にバッファさせる値をきめる設定値(メモリの75%くらい)
innodb_flush_log_at_trx_commit = 2 # 1に設定するとトランザクション単位でログを出力するが 2 を指定すると1秒間に1回ログファイルに出力するようになる
innodb_flush_method = O_DIRECT # データファイル、ログファイルの読み書き方式を指定する(実験する価値はある)
#innodb_log_file_size=300MB # InnoDBの更新ログを記録するディスク上のファイルサイズ(innodb_buffer_pool_sizeの4分の1程度)
innodb_file_per_table=ON # InnoDBのデータ領域をテーブルごとに変える

innodb_doublewrite = 0
innodb_thread_concurrency = 0
#innodb_buffer_pool_size = 2048M
innodb_io_capacity = 2000
innodb_read_io_threads = 4
innodb_write_io_threads = 8
skip-external-locking

[mysql]
default-character-set=utf8mb4
[client]
default-character-set=utf8mb4
